body{
    font-family: "Fira Sans", serif;
    background-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
}



/* naveber */

.navber{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.Signin-btn{
    font-size: 18px;
    color: #006A50;
    background-color: white;
    border: 1px solid #006A50;
    padding: 10px 30px;
    border-radius: 8px;
    margin-top: 31px;
    
}
.nevber-title{
    font-size: 32px;
    font-weight: bold;
    margin-top: 24px;
}



/* first page */

.first-page{
    background-color: #C6E4D6;
    padding: 80px 100px 80px 100px;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
    gap: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.first-page-title{
    color: rgba(14, 14, 14, 0.50);
    font-size: 24px;
    margin-bottom: 16px;
}
.first-page-sub-title{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}
.explore-btn{
    font-size: 18px;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
}



/* third page style */

.third-page{
    margin: 80px 160px;
}
.third-page-title{
    font-size: 40px;
    font-weight: bold;
}
.third-page-contant{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
}

/* third-page style */
.third-page-title{
    font-size: 40px;
    font-weight: bold;
}
.third-page-contant{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    margin-top: 24px;
}

/* third-page-box-title style */
.trd-box-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}
.trd-box-contant{
    font-size: 16px;
    margin-top: 12px;
}

/* third-box-style */

.third-page-box{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 24px;
}

.vision-box{
    text-align: justify;
    width: 410.67px;
    height: 325px;
    padding: 20px;
    border-radius: 16px;
}
.first-vision{
    background-color: rgba(84, 144, 245, 0.20);;
}
.second-vision{
    background-color: rgba(198, 228, 214, 1.00);
}
.third-vision{
    background-color: rgba(247, 235, 207, 1.00);
}



 /* fourth page style */

.fourth-page{
    margin: 20px 160px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 50px 20px;
    background-color: white;
    padding: 48px;
    border-radius: 16px;
}
.fourth-page-content{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.80);
    margin-bottom: 12px;
}
.fourthp-title{
    font-size: 20px;
    margin: 4px;
}
.dr.y{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.60);
}



/* second page style */

.second-page{
    margin: 20px 160px;
}
.secp-title{
    font-size: 40px;
    font-weight: bold;
}
.secp-boxt{
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}
.secp-boxst{
    font-size: 16px;
    margin-top: 12px;
}

.secp-box-item{
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 32px;
}

.secp-box{
    width: 302px;
    height: 244px;
    background-color: white;
    padding: 24px;
    border-radius: 16px;
}



/* third-page-btn style */

.third-page-btn{
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: 0;
    margin-top: 24px;
}
.third-page-first-btn{
    background-color: #5490F5;
}
.third-page-second-btn{
    background-color: #09A15C;
}
.third-page-last-btn{
    background-color: #FFC239;
}



/* six page */

.six-page{
    margin: 80px 160px;
}


.six-page-box{
    display: flex;
    justify-content: space-around;
    width: 1140px;
    margin-top: 32px;
    border-radius: 24px;
    padding: 30px;
    background-color: white;
    gap: 32px;
}

.sixp-first-img{
    border-radius: 24px;
}

.sixp-box-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.sixp-boxt-contant{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    margin-top: 12px;
}
.sixp-box-btn{
    color: white;
    font-size: 18px;
    padding: 13px 26px;
    border-radius: 8px;
    margin-top: 32px;
    background-color: #006A50;
}
.sixp-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.sixp-content{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
}



/* seven-page-style */

.seven-page{
    margin: 20px 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.money-section{
   display: flex;
   padding: 10px;
   gap: 24px;
   justify-content: space-around;
}
.taka{
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
    border-radius: 16px;
}
.taka-colorful{
    background-color: #C6E4D6;
}
.sevenp-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
}
.sevenp-content{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    margin: 32px;
    text-align: center;
}
.sevenp-btn{
    width: 151px;
    border-radius: 8px;
    padding: 20px;
    color: white;
    background-color: #006A50;
    margin-left: 520px;
}
.sevenp-form{
    height: 64px;
    width: 700px;
    margin: 32px 250px;
    padding: px;
    text-align: center;
}



/* last page style */

.last-page{
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 80px 160px;
    padding: 40px;
    text-align: center;
}
.lastp-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.lastp-comtent{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    margin-bottom: 24px;
}
.lastp-form{
    display: flex;
    justify-content: center;
}
.last-line{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    margin-top: 24px;
}
.email{
    height: 55px;
    width: 600px;
    border-radius: 8px 0 0 8px;
    padding-left: 30px;
    
}

.email-sub{
    font-size: 18px;
    height: 56px;
    width: 150px;
    border-radius:0 8px 8px 0;
    color: white;
    background-color: #006A50;
}



/* footer style */

.footer{
    background-color: white;
    text-align: center;
    padding: 50px;
}
.at-last{
    margin-bottom: 32px;
}



/* Alhamdulillah Done */